# **1.Variables and Variables naming convention**

1. We cannot use special signs in variables except #pound symbol
2.avoid capital letters in front
3.dont use numerical at the beginning

In [ ]:
# Small=wrong
# CSE110=Wrong
# 8AM=Wrong
# *%Name=wrong 
# small_1=Right 
# Tom1=right but naming convention unujayi wrong
# num 1=wrong
# _nume_1=right

================================================================================

# 2.**Datatypes**

a.Integer

In [ ]:
int=3
print(type(int))
print(int)

<class 'float'>
3.5

b. Float(decimals)

In [ ]:
float=3.696969
print(type(float))
print(float)

<class 'float'>
3.696969

c. list

In [ ]:
#CReate a list and print the list
my_list_01=["Messi,Ronaldo,Nashid"]
my_list_02=[50,100,150]
my_list_03=[]
print(type(my_list_01))
print(type(my_list_02))
print(my_list_01)
print(my_list_02)



#Access using index of the list
print(my_list_02[2])   #eikhane 3rd bracket er modhe jei index ta dibo oi number ta print hobe




#Create a list and edit the list 
my_list_04=[1,2,3,4]
my_list_04[0]=98       #eikhane ami 0 index e age 1 chilo oitake edit kore 98 korlam
print(my_list_04) 



#WE can create a list of different types       #This is known as list slicing
friends=[0, "ifti" , "nashid" , "ramisa" , 2004, "nafeej", "tafhim"]
      #   0    1         2         3         4      5           6
      #  -7   -6        -5        -4        -3     -2          -1


print(friends)
print(friends[1:4]) #end ta holo exclusive
print(friends[-7:])
print(friends[-4:])
print(friends[-7:0])
print(friends[-7:4])
print(friends[-7:-3])

<class 'list'>
<class 'list'>
['Messi,Ronaldo,Nashid']
[50, 100, 150]
150
[98, 2, 3, 4]
[0, 'ifti', 'nashid', 'ramisa', 2004, 'nafeej', 'tafhim']
['ifti', 'nashid', 'ramisa']
[0, 'ifti', 'nashid', 'ramisa', 2004, 'nafeej', 'tafhim']
['ramisa', 2004, 'nafeej', 'tafhim']
[]
[0, 'ifti', 'nashid', 'ramisa']
[0, 'ifti', 'nashid', 'ramisa']

d. tuple[Fixed list]

In [ ]:
my_tuple_01=("Messi,Ronaldo,Neymar")
my_tuple_02=(50,100,150)
my_tuple_03=()
# my_tuple_03[2]="brasil" #hobena change kora jabena
print(type(my_tuple_01))
print(type(my_tuple_02))
print(my_tuple_01)
print(my_tuple_02)
print(my_tuple_03)

<class 'str'>
<class 'tuple'>
Messi,Ronaldo,Neymar
(50, 100, 150)
()

e. Dictionary (my_dict={key:value})

In [ ]:

my_dict={1:"Nafeej", 2:"Ifti", 3:"Babu"}

print(my_dict[2])
print(type(my_dict))

Ifti
<class 'dict'>

f. String(double quotation recommended,single quotation and triple quotation also applicable)

In [ ]:
print('hello')
print('''Samia''')
print("champ")
print(type("hello"))

hello
Samia
champ
<class 'str'>

g. Boolean (0-false, 1-True)

In [ ]:
flag=True
print(flag)
print(type(flag))

True
<class 'bool'>

h. None

In [ ]:
none_variable=None
print(none_variable)
print(type(none_variable))

None
<class 'NoneType'>

================================================================================

# 03. **Introduction to Operators :**

***Assignment Operators:***

In [ ]:
a=34
a+=2
print(a)

a=34
a-=2
print(a)

36
32

***Comparision Operator: Output e boolean return korbe ***

In [ ]:
b=4>7
print(b)
b!=7
print(b)

False
False

***Logical Operators: true or false***

In [ ]:
bool1=True
bool2=False
print("The value of bool1 and bool2 is", (bool1 and bool2))
print("The value of bool1 or bool2 is", (bool1 or bool2))
print("The value of not bool2 is", (not bool2))

The value of bool1 and bool2 is False
The value of bool1 or bool2 is True
The value of not bool2 is True

***Arithmetic Operators:***

Remember: integer aar string er modhe kono operation hobena. 
% sign diye remainder ber kore,,
star sign diye product,,
double star diye power/exponential.

In [ ]:
print(55+69)
print(55-69)
print(55*69)
print(55/69)
print(55//69)
print(55%69)
print(10**3)

124
-14
3795
0.7971014492753623
0
55
1000

In [ ]:
a=12
b=2 
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) 
print(a**b)
print(a*b)

14
10
24
6.0
0

***using the absolute value: using the abs functions always gives positive number***

In [ ]:
a=-16
b=25
c=abs(a-b)
print(c)

41

***Floor division(duita divide sign) dile only decimal er left side er gula count ***hobe.

In [ ]:
num_1=14
num_2=8
print(num_1/num_2)
print(num_1//num_2)

1.75
1

***Two different datatypes cannot be added together***

In [ ]:
c='2'
d='2' #string pashapashi boshbe
print(c+d) 
print(type(c+d))

22
<class 'str'>

In [ ]:
a=22
b="nashid"
print(a+b)
# It will obviously give error

***NOTE: But in python float and integers can be added together.***

In [ ]:
a=2.65
b=55
print(a+b)
print(a-b)
print(type(a+b))

57.65
-52.35
<class 'float'>

***Forecefully print '2+2' can you??***

In [ ]:
a="2"
b="2"
c=(a+"  +  "+b)
print(c)

2  +  2

In [ ]:
a=2
b=2
print(f"{a} + {b} ")

2 + 2

# Ceil Function

In [ ]:
import math
print(math.ceil(1.4))  #ceil diye aktala upore uthai dibe
print(math.ceil(5.3))
print(math.ceil(-5.8)) #caution
print(math.ceil(22.6))
print(math.ceil(10.1))

2
6
-5
23
11

# Floor function

In [ ]:
import math   
  
# prints using floor() method #aktala niche namai dibe
print(math.floor(-23.11)) #-23-1=-24
print(math.floor(300.16))
print(math.floor(5.99))

-24
300
5

# **Introduction To round function**

In [ ]:
a=1
b=3
print(a/b)
print(round(a/b,2))

0.3333333333333333
0.33

***String and float cannot be multiplied***

In [ ]:
a='5' #string and floatcannot be multiplied...error dibe
b=2.34
c=(b*a)
print(c)

**string and int will give different result. THis is interesting like ami string** **e jei jinista dibo oita b er value times print korbe.**

In [ ]:
a="5" #string and int will give different result
b=20
c=(b*a)
print(c)

55555555555555555555

In [ ]:
a=" '-' " 
a="üë∂"
b=10
c=(b*a)
print(c)

üë∂üë∂üë∂üë∂üë∂üë∂üë∂üë∂üë∂üë∂

In [ ]:
a="üëå ‚òπÔ∏è üëÄ "
b=10
c=(b*a)
print(c)
print(type(a*b))

üëå ‚òπÔ∏è üëÄ üëå ‚òπÔ∏è üëÄ üëå ‚òπÔ∏è üëÄ üëå ‚òπÔ∏è üëÄ üëå ‚òπÔ∏è üëÄ üëå ‚òπÔ∏è üëÄ üëå ‚òπÔ∏è üëÄ üëå ‚òπÔ∏è üëÄ üëå ‚òπÔ∏è üëÄ üëå ‚òπÔ∏è üëÄ
<class 'str'>

In [ ]:
a=" üéå "
b=10
print(a*b)
print(type(a*b))

 üéå  üéå  üéå  üéå  üéå  üéå  üéå  üéå  üéå  üéå

In [ ]:
a=" ‚ôõ "
b=10
print(a*b)
print(type(a*b))

 ‚ôõ  ‚ôõ  ‚ôõ  ‚ôõ  ‚ôõ  ‚ôõ  ‚ôõ  ‚ôõ  ‚ôõ  ‚ôõ
<class 'str'>

# sep

In [ ]:
print('foo','meow','bark',sep='/')

foo/meow/bark

In [ ]:
print('foo','meow','bark',sep='.......')

foo.......meow.......bark

# end

In [ ]:
print('foo',end=' ')
print('foo',end=' ')
print('foo',end=' ')

foo foo foo

In [ ]:
print("Python is fun")
print("Python", end="//")
print("is", end="//")
print("fun")

Python is fun
Python//is//fun

**RELATIONAL OPERATORS: HOW TO USE INCREMENT AND DECREMENT**

In [ ]:
a=2
print(a)
a=a+2
print(a)
a+=2
print(a)

2
4
6

Relational Operators 
<	  less than

1.   <	  less than

2.   >	  greater than

3.   <=	less than or equal to
4.   >=	greater than or equal to
5.   ==	equality (equal to)

Boolean operators
1.  True
2. False

In [ ]:
a=20
b=30
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)
print(a<b)
print(a>b)

False
True
False
True
True
False

**Membership Operator**
**in and not in**
**akta character oitar modhe ase naki sheta bujhar jonno**

In [ ]:
name="Mahjabin"
print('M' in name)
print('O' in name)
print('K' in name)
print('M' not in name)
print('q' not in name)
print('p' not in name)

True
False
False
False
True
True

***Identity Operators:***

In [ ]:
x="Nashid"
y="Ifti"
print(x is y)
print(x is not y)

False
True

================================================================================

Logical Operators(and,or,not)

In [ ]:
a=10
b=20
if (a>15 and a<20):
  print("Both conditions are true")
if (b<30 or b>50):
  print("ekta true")

x=7
print(x>5)
print(not(x>5))

ekta true
False

****** 2. Basic writing in python **

In [ ]:
print("Hello Freshers!")
print("Coding will give you many pains untill you start having fun ")
print(3)
print(92.4)

Hello Freshers!
Coding will give you many pains untill you start having fun
3
92.4

In order to line multiple lines we will use triple single code instead of repeated print functions:

In [ ]:
print('''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are

strings can be also written by single code

In [ ]:
print('mushi mushi')

mushi mushi

*****Comments*** comments are words that are not seen by compiler

Comments can be written by hashtag/ctrl+backslash/triple single code

In [ ]:
#hello can you please bring a cup of coffee for me
# '''Stay away from those people who try to disparage your ambitions.'''
# '''Small minds will always do that, but great minds will give you a feeling'''
# '''that you can become great too'''
# When you give joy to other people, you get more joy in return. 
# You should give a good thought to happiness that you can give out

In [ ]:
print("Work smarter not harder")

Work smarter not harder

# Keywords in Python. You cannot use this keywords as variable name

# **04. TAKE INPUT FFROM USER**

In [ ]:
user=input()
print(user)
print("Hello",user)

DUALIPA
DUALIPA
Hello DUALIPA

In [ ]:
user=input("Say my name ")
print("It's mastermind",user)

Say my name 2
It's mastermind 2

**Write a Program to add 3 numbers**

In [ ]:
first_number=int(input("Sir,please enter your first number: "))
second_number=int(input("Sir,please enter your second number: "))
third_number=int(input("Sir,please enter your third number: "))
sum=first_number+second_number+third_number
print("The sum is ",sum)

Sir,please enter your first number: 5
Sir,please enter your second number: 5
Sir,please enter your third number: 5
15

**Write a Program To subtract Two numbers**

In [ ]:
first_number=int (input("Please enter your first number  "))
second_number=int(input("Please enter your second number  "))

subtraction=first_number-second_number

print("The subraction is",subtraction)

Please enter your first number  15
Please enter your second number  25
The subraction is -10

**Write a Program To multiply many numbers**

In [ ]:
first_number=int(input("Sir,please enter your first number: "))
second_number=int(input("Sir,please enter your second number: "))
third_number=int(input("Sir,please enter your third number: "))
multiply=first_number*second_number*third_number
print("The product is",multiply)

**Write a Program To find quotient of two numbers**

In [ ]:
first_number = int(input("Please enter your first number  "))
second_number = int(input("Please enter your second number  "))

quotient = round(first_number/second_number,2)

print("The  quotient is", quotient)

Please enter your first number  10
Please enter your second number  5
The  quotient is 2.0

**Write a Program To find remainder after division**

In [ ]:
first_number = int(input("Please enter your first number  "))
second_number = int(input("Please enter your second number  "))

reminder = (first_number % second_number)

print("The  reminder is", reminder)

Please enter your first number  7896453
Please enter your second number  3
The  reminder is 0

**Write a Program To find power of a number**

In [ ]:
first_number = int(input("Please enter your first number  "))
second_number = int(input("Please enter your second number  "))

power_ = (first_number**second_number)

print("The  Power is", power_)

Please enter your first number  10
Please enter your second number  3
The  Power is 1000

**Write a Program To find average of three numbers**

In [ ]:
first_number=int(input("Sir,please enter your first number: "))
second_number=int(input("Sir,please enter your second number: "))
third_number=int(input("Sir,please enter your third number: "))
average=(first_number+second_number+third_number)/3
print("The mean is",average)

**Write a Program To find square of two numbers**

In [ ]:
num_1=int(input("Sir,please enter your first number: "))
print("The square is",num_1**2)

Sir,please enter your first number: 2
The square is 4

--------------------------------------------------------------------------------

**05. Typecasting** (Convert one datatype into another)

a. convert string to integer:- (jeita integer thakbe but double code er modhe ase shegula parbe

In [ ]:
a="6528"
a=int (a)
print(type(a))
print(a)
print(a+5)

<class 'int'>
6528
6533

b.Convert into string:-

In [ ]:
a=75
a=str(a)
print(type(a))
print(a+'+Dualipa')

<class 'str'>
75+Dualipa

c.Convert into float:-

In [ ]:
a=56
a=float(a)
print(type(a))
print(a)

<class 'float'>
56.0

================================================================================

**Strings** Concatenating

In [ ]:
greeting="Good Morning "
name="Ramisa"
print(type(name))
print(greeting+name)

<class 'str'>
Good Morning Ramisa

**String Slicing**

In [ ]:
name="Reyna"
print(name[3])
name="jett"
print(name[0])
print(name[-4:-1]) #is same as print(name[0:3]) #Negative indices 
print(name[0:3])
name="pneumonoultramicroscopicsilicovolcanocoinosis"
print(name[25])
name="Best Friend Forever"
print(name[:4]) #is same as print(name[0:4])
print(name[0:]) #is same as 0 to 19 (full length)
print(name[5:11])
print(name[12:19])

n
j
jet
jet
i
Best
Best Friend Forever
Friend
Forever

*Slicing with Skip value*

In [ ]:
name="HometownChaCha"
print(name[0::2]) #empty rakle full legth e count korbe. jokhon ami length jani na tokhon ami empty rakhbo
#eikhane amra deklam je o akta kore letter skip kore print kortese.

print(name[0::5])

HmtwCah
Hoa

*String Functions*

In [ ]:
# length function prints the total length of the story

story="Opportunities don't happen, you create them"
print(len(story))

43
True

In [ ]:
# endswith function prints whether the story endswith that letter or not

story="Love your family, work super hard, live your passion"
print(story.endswith("passion"))

True

In [ ]:
#count functions count 

story="You can get everything in life you want if you will just help enough other people get what they want."
print(story.count("a"))
print(story.count("e"))
print(story.count("ge"))
print(story.count("life"))

4
11
2
1

In [ ]:
#capitalize functions capitalizes

story="don't settle for average"
print(story.capitalize())

Don't settle for average

In [ ]:
#Find Function finds a word and returns the index of first occurence of that word in the string.

story="If you can dream it, you can do it"
print(story.find("If"))
print(story.find("dream"))
print(story.find("oops"))  #oops name diye kisu nai taay minus e dekhacche
print(story.find("it"))

0
11
-1
17

In [ ]:
#Replace function replaces the word with new word

story="The greatest glory in living lies not in never falling, but in rising every time we fall"
print(story.replace("living", "dying"))

The greatest glory in dying lies not in never falling, but in rising every time we fall

================================================================================

**Escape Sequence Character** 
\n = new line,
\t =tab,
\' =single quote,
\\ =backslash.

In [ ]:
story="Just one small positive thought\\ in the morning can change\' your whole day.\nLove your family,\t work super hard, live your passion."
print(story)

Just one small positive thought\ in the morning can change' your whole day.
Love your family,	 work super hard, live your passion.

********************************************************************************

**Write a program to wish someone Good after noon**

In [ ]:
name=input("Maam,please enter your name:\n ")
print("Good Afternoon", name)

**Write a Program to fill a letter**

In [ ]:
letter='''Dear <Name>,
You are selected for BRACU Admission Test!
Date:<Date>
Session:<session>'''
name=input("Please enter your name\n")
date=input("Enter date\n")
Session=input("Enter Session\n")
letter=letter.replace("<Name>", name)
letter=letter.replace("<Date>", date)
letter=letter.replace("<session>", Session)
print(letter)

Please enter your name
nashid
Enter date
20.10.2022
Enter Session
2022
Dear nashid,
You are selected for BRACU Admission Test!
Date:20.10.2022
Session:2022

**Write A program to detect double spaces in a string**

In [ ]:
st="This is a program to detect double  spaces"
doublespaces=st.find("  ")
print(doublespaces)

34

**Write A program to replace double spaces with single space in a string**

In [ ]:
st="This is a program to detect double  spaces"
doublespaces=st.replace("  "," ")
print(doublespaces)

This is a program to detect double spaces

**Write a Program to format  aletter using escape sequence character**

In [ ]:
letter="Hello this is Mastermind. Hope to see you all in the next game. Arigato"
formatted_letter="Hello\t this is Mastermind.\n Hope to see you all in the next game.\n Arigato\n"
print(letter)
print(formatted_letter)

Hello this is Mastermind. Hope to see you all in the next game. Arigato
Hello	 this is Mastermind.
 Hope to see you all in the next game.
 Arigato

================================================================================

***List Sorting\***

In [ ]:
l1=[1,8,4,9,2,3]
l1.sort()
print(l1)

[1, 2, 3, 4, 8, 9]

**List Reverse(reverse the list)**

In [ ]:
l1=[1,8,4,9,2,3]
l1.reverse()
print(l1)

[3, 2, 9, 4, 8, 1]

**Append(addds at the end of the list)****************

In [ ]:
l1=[1,8,4,9,2,3]
l1.append(85)
l1.append(45)
print(l1)

[1, 8, 4, 9, 2, 3, 85, 45]

**insert(adds with the position)**

In [ ]:
l1=[1,8,4,9,2,3]
l1.insert(0,85)
l1.insert(3,45)
print(l1)

[85, 1, 8, 45, 4, 9, 2, 3]

**Pop(removes the element at your mentioned index)**

In [ ]:
#pop function use korle kintu index(posiiton) dite hobe
l1=[1,8,4,9,2,3]
l1.pop() #faka rakle last er ta remove hobe
l1.pop(2) #2 np. inex e jeita sheita remobe korbe
print(l1)

[1, 8, 9, 2]

**Remove(removes the element)**

In [ ]:
l1=[1,8,4,9,2,3]
l1.remove(9)
print(l1)

[1, 8, 4, 2, 3]

================================================================================

**Tuple**(you cannot update the values of tuple) A tuple is an immutable data type in python

In [ ]:
t=(0,1,2,3,5)
print(t[0])
t[0]!=34 #cannot change the value

t=()
t1=(1) #wrong way to declare a tuple with single element

t2=(1,)  #wrong way to declare a tuple with single element
print(t) 
print(t1)
print(t2)
t=(0,1,2,3,5)
print(t)

0
()
1
(1,)
(0, 1, 2, 3, 5)

**Tuple.count(counts)**

In [ ]:
t=(0,1,2,3,1,1,5)
print(t.count(1))

3

**Tuple.index**

In [ ]:
t=(0,1,2,3,1,1,5)
print(t.index(5))

6

***Practise Problem of Lists and Tuple***

**1. Write a program to store seven fruits in a list entered by the user**

In [ ]:
f1=input("Sir,please enter first fruit you would like to have: ")
f2=input("Sir,please enter second fruit you would like to have: ")
f3=input("Sir,please enter third fruit you would like to have: ")
f4=input("Sir,please enter fourth fruit you would like to have: ")
f5=input("Sir,please enter fifth fruit you would like to have: ")
f6=input("Sir,please enter sixth fruit you would like to have: ")
f7=input("Sir,please enter seventh fruit you would like to have: ")
my_fruit_list=[f1,f2,f3,f4,f5,f6,f7]
print(my_fruit_list)

Sir,please enter first fruit you would like to have: g
Sir,please enter second fruit you would like to have: h
Sir,please enter third fruit you would like to have: k
Sir,please enter fourth fruit you would like to have: h
Sir,please enter fifth fruit you would like to have: f
Sir,please enter sixth fruit you would like to have: f
Sir,please enter seventh fruit you would like to have: t
['g', 'h', 'k', 'h', 'f', 'f', 't']

**2.Write a program to accept marks of 6 students and arrange them in a sorted manner**

In [ ]:
s1=int(input("Please enter your marks: "))
s2=int(input("Please enter your marks: "))
s3=int(input("Please enter your marks: "))
s4=int(input("Please enter your marks: "))
s5=int(input("Please enter your marks: "))
s6=int(input("Please enter your marks: "))
marks_In_Ascending_order=[s1,s2,s3,s4,s5,s6]
marks_In_Ascending_order.sort()
print(marks_In_Ascending_order)

Please enter your marks: 56
Please enter your marks: 99
Please enter your marks: -5
Please enter your marks: 90
Please enter your marks: 85
Please enter your marks: 20
[-5, 20, 56, 85, 90, 99]

**3.Tuple change test**

In [ ]:
a=(1,2,3,4)
a[0]=5 #error dekhabe

**4.Write a program to sum a list of 4 numbers**

In [ ]:
a=[0,1,2,3]
print(a[0]+a[1]+a[2]+a[3]) #method:1
print(sum(a))              #menthod:2

6
6

**5.Write a program to count the number of zeros in Litton Das innings**

In [ ]:
a=[22,98,0,55,0,5,4,0,69,50,0,15]
print(a.count(0))

4

**++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++**

**Dictionary(details)** A dicitonary is a collection of key value pairs

my_dict={"key":"value"} #dicitonary syntax

In [ ]:
my_dict={"student id 22201458":"Iftikharul islam Ifti", "Student Id 2201459": "harry potter"}
print(my_dict['student id 22201458'])
print(my_dict["Student Id 22201459"])

Iftikharul islam Ifti
harry potter

In [ ]:
#How to make a nested dicitonary
my_dict={ "Marks" :[15,20,24],
        "MJB":"CSE110",
        "BNR" :"ENG091",
         "another_dict":{"Son":"Player"}

         }
print(my_dict["another_dict"]["Son"])  #THis is called nested dictionary(akta dicitonary er vitore arekta dciitonary)

Player
[45, 78]

Properties of dictionary:
unordered ,
mutable(can be changed)

In [ ]:
#Dicitonary is 
my_dict={"Marks":[1,2,3]}
my_dict["Marks"]=[45,78]
print(my_dict["Marks"])

[45, 78]

# **Dictionary methods**

In [ ]:
my_dict={ "Marks" :[15,20,24],
        "MJB":"CSE110",
        "BNR" :"ENG091",
         "another_dict":{"Son":"Player"},
          1:2 }

print(my_dict.keys())
print(type(my_dict.keys()))

#Can you convert this into list? sure type type  
#printing the keys

print(list(my_dict.keys()))
print(type(list(my_dict.keys())))

#printing the values
print(list(my_dict.values()))
print(type(list(my_dict.values())))

#printing all the items
print(my_dict.items())

#updating the dicitonary

update_dict={"Love": "Heaven",
             "Armeen": "Friend",
             "Nafizz": "Enemy",
             "Sugar": "daddy"

             }
my_dict.update(update_dict)
print(my_dict)

dict_keys(['Marks', 'MJB', 'BNR', 'another_dict', 1])
<class 'dict_keys'>
['Marks', 'MJB', 'BNR', 'another_dict', 1]
<class 'list'>
[[15, 20, 24], 'CSE110', 'ENG091', {'Son': 'Player'}, 2]
<class 'list'>
dict_items([('Marks', [15, 20, 24]), ('MJB', 'CSE110'), ('BNR', 'ENG091'), ('another_dict', {'Son': 'Player'}), (1, 2)])
{'Marks': [15, 20, 24], 'MJB': 'CSE110', 'BNR': 'ENG091', 'another_dict': {'Son': 'Player'}, 1: 2, 'Love': 'Heaven', 'Armeen': 'Friend', 'Nafizz': 'Enemy', 'Sugar': 'daddy'}

Why use .get function in dicitonary? .get is a function to get the value of something in dicitonary
**Difference between .get and [ ] syntax in dicitonary**

In [ ]:
dict={ "Marks" :[15,20,24],
        "MJB":"CSE110",
        "BNR" :"ENG091",
         "another_dict":{"Son":"Player"},
          1:2 }
print(dict.get("BNR"))
print(dict["BNR"])

#but when we use a wrong value it should print none. but if we dont use .get function it wont print none!
print(dict.get("BNR22"))
print(dict["BNR22"]) #it will throw an error

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

## ***SEts in python*** (A set is a collection of non repetitive elements)

In [ ]:
a={ 1,3,3,1,4,5,6}
print(type(a))
print(a)

<class 'set'>
{1, 3, 4, 5, 6}

**Create an empty set**

In [ ]:
a=set()
print(type(a))

<class 'set'>

**ADd to an empty set**

In [ ]:
a=set()
print(type(a))
a.add(2)
a.add(5)
a.add(2)
a.add(2)
print(a)

<class 'set'>
{2, 5}

Lists cannot be added in sets. tuple can be added...basically dataypes which are changable cannot be added into sets. dicitonary cannot be added

In [ ]:
a=set()
print(type(a))
a.add(2)
a.add(5)
a.add((2,6,8))
print(a)

<class 'set'>
{2, (2, 6, 8), 5}

**Properties of Sets: **bold text**
1.  Unordered
2.  Unindexed
3.  No way to change items in sets
4.  Sets cannot contain duplicate values.

# Operations on SET

***Length of the set***

In [ ]:
a={ 1,3,3,1,4,5,6}
print(len(a))

5

**Remove from the set**

In [ ]:
a={ 1,3,3,1,4,5,6}
a.remove(5)
#dont remove something that is not inside the set
print(a)

{1, 3, 4, 6}

**POP removes a random element and displays it**

In [ ]:
a={ 1,3,3,1,4,5,6}
print(a.pop())

1

**CLEAR empties the set**

In [ ]:
a={ 1,3,3,1,4,5,6}
print(a.clear())

None

**Union of two sets**

In [ ]:
a={ 1,3,3,1,4,5,6}
print(a.union({1,9,7,6,5}))

{1, 5, 6}

**Intersection of Two sets**

In [ ]:
a={ 1,3,3,1,4,5,6}
print(a.intersection({1,9,7,6,5}))

{1, 5, 6}

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

## Practise Problems(Sets,Dicitonary)

**1. Write a Program to create a dicitonary of Bangla Words with value as their English translaiton. Provide user with an option to look it up.**

In [ ]:
my_dict={ "achieve":"‡¶Ö‡¶∞‡ßç‡¶ú‡¶®",
          "accomplish": "‡¶∏‡¶Æ‡ßç‡¶™‡¶®‡ßç‡¶®",
          "ally":   "‡¶Æ‡¶ø‡¶§‡ßç‡¶∞",
          "appreciate": "‡¶™‡ßç‡¶∞‡¶∂‡¶Ç‡¶∏‡¶æ",
          "approval": "‡¶Ö‡¶®‡ßÅ‡¶Æ‡ßã‡¶¶‡¶®" }
print("Options are", my_dict.keys())

a=input("sir,please enter your word:\n")
print("The meaning of your word is ",my_dict.get(a))

Options are dict_keys(['achieve', 'accomplish', 'ally', 'appreciate', 'approval'])
sir,please enter your word:
ally
The meaning of your word is  ‡¶Æ‡¶ø‡¶§‡ßç‡¶∞

**2.Write a program to print all the unique numbers from the user. take 8 numbers from the user**

In [ ]:

num_1=int(input("Enter number 1\n"))
num_2=int(input("Enter number 2\n"))
num_3=int(input("Enter number 3\n"))
num_4=int(input("Enter number 4\n"))
num_5=int(input("Enter number 5\n"))
num_6=int(input("Enter number 6\n"))
num_7=int(input("Enter number 7\n"))
num_8=int(input("Enter number 8\n"))
sets={num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8}
print(sets)

**03. Can we have a set with 18(int) and "18"(str) as values in it:

In [ ]:
s={20,20.0,20.001}
print(len(s))
# output 3 ashar kotha kintu set er vitore 20 and 20.1 ke same consider korbe

2

**04.s={}**
**what will be the type of s? **

In [ ]:
s={}
print(type(s))
s=set()
print(type(s))

<class 'dict'>
<class 'set'>

**05. Create a empty dicitonary. Allow 4 freinds to enter their fav language as inputs and use keys at their names. ASsume that the names are unique.**

In [ ]:
favlang={}
a=input("Enter your favourite language Pam\n")
b=input("Enter your favourite language Jennie\n")
c=input("Enter your favourite language Michael\n")
d=input("Enter your favourite language Jim\n")
favlang['Pam']=a
favlang['Jennie']=b
favlang['Michael']=c
favlang['Jim']=d

print(favlang)

Enter your favourite language Pam
k
Enter your favourite language Jennie
g
Enter your favourite language Michael
l
Enter your favourite language Jim
i
{'Pam': 'k', 'Jennie': 'g', 'Michael': 'l', 'Jim': 'i'}

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

# **Conditonal statements**

**Sometimes we want to play pubg on our phone if the day is Sunday.

Sometimes we order Ice-cream online if the day is sunny.

Sometimes we go hiking if our parents allow.

All these are decisions that depend on the condition being met.

In python programming too, we must be able to execute instructions on a condition(s) being met. This is what conditions are for!**

In [ ]:
#syntax
'''
if (condition1):		// if condition 1 is true
	print(‚Äúyes‚Äù)
elif (condition2):		// if condition 2 is true
	print(‚ÄúNo‚Äù)
else:			              	// otherwise
	print(‚ÄúMay be‚Äù)

'''

'\nif (condition1):\t\t// if condition 1 is true\n\tprint(‚Äúyes‚Äù)\nelif (condition2):\t\t// if condition 2 is true\n\tprint(‚ÄúNo‚Äù)\nelse:\t\t\t              \t// otherwise\n\tprint(‚ÄúMay be‚Äù)\n\n'

In [ ]:
a = 22
if (a>9):
  print("Greater")
else:
  print("lesser")

Greater

and -> true if both operands are true else false

or -> true if at least one operand is true else false

not -> inverts true to false and false to true

**1. Python check whether a character is upper or lowercase alphabet**

In [ ]:
ch = input("Enter any character : ")

# Check for uppercase, lowercase             
if ch.isupper() :         #Function isupper() can be used to check if the character 
                          # is Uppercase or not. It will return true if the character is Uppercase character.
    print("\n" + ch, "is UPPERCASE alphabet.\n")

elif ch.islower() :
    print("\n" + ch, "is LOWERCASE alphabet.\n")

else :
    print("\n" + ch, "is not an alphabet.\n")

Enter any character : L
is UPPERCASE alphabet.

**2.Python check whether a character is alphabet or not**

In [ ]:
# Take character input from user
ch = input("Enter any character : ")

# Check for alphabet or not
if ch.isalpha() :
    print("\n" + ch, "is A ALPHABET.")
else :
    print("\n" + ch, "is NOT A ALPHABET.")

Enter any character : *

* is NOT A ALPHABET.

**03.Python check whether a character is alphabet, digit or special character**

In [ ]:
# Take character input from user
ch = input("Enter any character : ")

# Check for alphabet and digit.
if ch[0].isalpha() :
    print("\n" + ch[0], "is A ALPHABET.")
elif ch[0].isdigit() :
    print("\n" + ch[0], "is A DIGIT.")
else :
    print("\n" + ch[0], "is A SPECIAL CHARACTER.")

**04.Python find largest number among four number using if statement**

In [ ]:
num1=int(input("Sir,please enter  number 1 \n"))
num2=int(input("Sir,please enter  number 2 \n"))
num3=int(input("Sir,please enter  number 3\n"))
num4=int(input("Sir,please enter  number 4\n"))
if (num1>num2) and (num1>num3) and (num1>num4):
  print(num1," is the greatest number\n")
elif(num2>num1) and (num2>num3) and (num2>num4):
  print(num2," is the greatest number\n")
elif (num3>num1) and (num3>num2) and (num3>num4):
    print(num3," is the greatest number\n") 
elif(num1==num2) or    (num2==num3) or  (num1==num4) or (num1==num3)or  (num2==num4):
  print("Multiple numbers are equal.") 
else:
    print(num4,"is the greatest number\n")

print("End")

Sir,please enter  number 1
2

***REcommended method is below one **bold text**

In [ ]:
num1=int(input("Sir,please enter  number 1 \n"))
num2=int(input("Sir,please enter  number 2 \n"))
num3=int(input("Sir,please enter  number 3\n"))
num4=int(input("Sir,please enter  number 4\n"))
if(num1>num4):
  f1=num1
else:
  f1=num4
if(num2>num3):
  f2=num2
else:
  f2=num3
if(f1>f2):
  print(str(f1) + "is greatest\n")
else:
    print(str(f2) + "is greatest\n")

Sir,please enter  number 1
55
Sir,please enter  number 2
55
Sir,please enter  number 3
55
Sir,please enter  number 4
55
55is greatest

**05.Python program to check whether a year **is leap year or not

In [ ]:
# Take year from user
year = int(input("Enter a year : "))

# Check for leap year
if year % 4 == 0 :

    if (year % 100 == 0) :

        if (year % 400 == 0) :
            print("\n" + str(year), "is a leap year.")
        else :
            print("\n" + str(year), "is not a leap year.")

    else :
        print("\n" + str(year), "is a leap year.")

else :
    print("\n" + str(year), "is not a leap year.")

06.Python program to check whether number is even or odd

In [ ]:
# Take one integer number from user
number = int(input("Enter an integer : "))

# Check for odd / even
if number % 2 == 0 :
    print("\n" + str(number), "is even number.")
else :
    print("\n" + str(number), "is odd number.")

07.Python check whether a number is negative, positive or zero

In [ ]:
# Take one integer number from user
number = int(input("Enter any number : "))

# Number is greater than 0
if number > 0 :
    print("\nPOSITIVE NUMBER.")

# Number is less than 0
if number < 0 :
    print("\nNEGATIVE NUMBER.")

# Number is equals to 0
if number == 0 :
    print("\nNUMBER IS ZERO.")

Enter any number : 5

POSITIVE NUMBER.

**08.Python check whether a character is vowel or consonant**

In [ ]:
# Take input from user
ch = input("Enter a alphabet : ")[0]

# if given character is Lower case Vowel or Upper case Vowel
# then print vowel otherwise consonant
if ch.lower() in "aeiou":
    print("\n" + ch, "is a vowel.")
else :
    print("\n" + ch, "is a consonant.")

Enter a alphabet : VOWEL

V is a consonant.

09.**Python print day name of week from number**

In [ ]:
# Taken day number from user
weekday = int(input("Enter weekday day number (1-7) : "))

if weekday == 1 :
    print("\nMonday");

elif weekday == 2 :
    print("\nTuesday")

elif(weekday == 3) :
    print("\nWednesday")

elif(weekday == 4) :
    print("\nThursday")

elif(weekday == 5) :
    print("\nFriday")

elif(weekday == 6) :
    print("\nSaturday")

elif (weekday == 7) :
    print("\nSunday")

else :
    print("\nPlease enter weekday number between 1-7.")

Enter weekday day number (1-7) : 5

Friday

# **CGPA CALCULATOR**

In [ ]:
#CGPA CALCULATOR !!!!!!!!
''' make a program that
takes an input from the user
check the number accoring to bracu gpa system
use if else to show the gpa
use another if to check he got a+
if they get a+ then print congo'''

user = int(input("Enter your obtained marks "))


if 100 >= user >= 90:
    print("Your grade is A+ ")
    print("Your CGPA is 4.00 ")
    print("Congratulations champ.You are extraordinary!")
elif 90 > user >= 85:
    print("Your grade is A ")
    print("Your CGPA is 3.7 ")
    print("Excellent!")

elif 85 > user >= 80:
    print("Your grade is A-")
    print("Your CGPA is 3.3 ")
    print("Very Good!")

elif 80 > user >= 75:
    print("Your grade is B+")
    print("Your CGPA is 3.0")
    print("Good!")

elif 75 > user >= 70:
    print("Your grade is B ")
    print("Your CGPA is 2.7")
    print("Satisfactory!")

elif 70 > user >= 65:
    print("Your grade is B- ")
    print("Your CGPA is 2.3")
    print("Lack of consistency!")
elif 65 > user >= 60:
    print("Your grade is C+")
    print("Your CGPA is 2.0")
    print("Fair!")

elif 60 > user >= 57:
    print("Your grade is C ")
    print("Your CGPA is 1.7")
    print("Poor!")

elif 57 > user >= 55:
    print("Your grade is D+ ")
    print("Your CGPA is 1.3")
    print("Probation")
elif 55> user >= 52:
    print("Your grade is D ")
    print("Your CGPA is 1.0")
    print("Probation")
elif 52 > user >= 50:
    print("Your grade is D- ")
    print("Your CGPA is 0.7")
    print("Probation!")
elif user <50:
    print("Your grade is F ")
    print("Your CGPA is 0.00")
    print("Sorry,You have failed the exam!!")


else:
    print("Invalid marks! try again ")

Enter your obtained marks 91
Your grade is A+
Your CGPA is 4.00
Congratulations champ.You are extraordinary!

**10.Write the Python code of a program that reads an integer as input**
 **from the user, and prints the integer if it**
**is a multiple of 2 OR 5 and prints "Not a multiple of 2 OR 5" otherwis**e.

In [ ]:
user = int(input("Sir, please enter your desired number "))
if user % 5 == 0 or user % 2 == 0:
    print(user)

else:
    print("Not a miltiple of 2 or 5")

Sir, please enter your desired number 13
Not a miltiple of 2 or 5

**11.Write a Python program that takes an 
hour from the user as input and tells it is time for which meal.**

In [ ]:
input_1=int(input("sir,please enter what hour is it now:\n "))

if 4<=input_1<=6:
    print("Breakfast ")
elif 12<=input_1<=13:
    print("Lunch ")
elif 16<=input_1<=17:
    print("Snacks ")
elif 19<=input_1<=20:
    print("Dinner ")
elif input_1<0 or input_1>24:
    print("Wrong time")    
else:
    print("Patience is a virtue ")

sir,please enter what hour is it now:
 22
Patience is a virtue

12.Write a Python program that takes a number as input, representing the ** **bold text**temperature in degrees Fahrenheit, and converts it into degrees Celsius, and** **then prints the season based on the following table:**

In [ ]:
Farenheit=float(input("Sir,please enter the degree in farenheit "))
celsisus=(Farenheit - 32) * 0.56
print(round(celsisus,2))
if celsisus<20:
    print("Winter ")
elif 20<=celsisus <=25:
    print("Autumn ")
elif 25<celsisus<30:
    print("Spring ")
           
else:
    print("Summer ")

## **CGPA	Waiver percentage**

In [ ]:
cgpa=float(input("Sir,please enter your current CGPA "))
credits=int(input("Sir,please enter the no. of credits you have completed "))

if credits<0 or credits>200:
    print("Sir,please enter a vlid number of credits ")
elif credits>=30:    
    if 3.80<=cgpa<=3.89:
        print("Comgratulations,you will receive a waiver of 25% ")
    elif 3.90<=cgpa<=3.94:
        print("Congratulations,you have recieved a waiver of 50% ")
    elif 3.95<=cgpa<=3.99:
        print("Congratulations,you have recieved a waiver of 75%")   
    elif cgpa==4.00:
        print("Congratulations,you have recieved a waiver of 100%")   
    elif cgpa>4.00 or cgpa<0:
        print("Invalid Input ")
    else:
         print("The student is not eligible for a waiver ")                  
    
else:
    print("The students is not eligible for a waiver ")

# while loop

In [ ]:
count=1
while count<=50:
  if(count%2==0):
     print(count)
  count+=1

# break

In [ ]:
count=1
while True:
  print(count)
  count+=1
  if count==5:
    break

1
2
3
4

# Continue

In [ ]:
count=0
while count<5:
  count+=1
  if count==3:
    continue
  print("Hello", count)

Hello 1
Hello 2
Hello 4
Hello 5

# Nested While

In [ ]:
count=1
while (count<5):
  count+=1
  if count==4:
    break
  if count==3:
    continue
  print(count)

2

# for loop

In [ ]:
a=[22,60,76,50,64]
largest=-10000
for i in a:
  if i> largest:
    largest=i
print(largest)

76

break keyword, continue keyword

In [ ]:
flowers=["lily", "rose", "orchid"]
for x in flowers:
  if x=="orchid":
   break
  if x=="rose":
   continue
  print(x)

lily

# Range Funciton(start,stop,step)

In [ ]:
range(0,7)
print(range)
#print kore nai

<class 'range'>

In [ ]:
for x in range(10):
   print(x)

In [ ]:
for x in range(30,20,-1):
  print(x)

In [ ]:
for x in range(0,10,2):
  print(x)

0
2
4
6
8

In [ ]:
for x in range(0,11):
  print(x)

In [ ]:
color=["White","Red","Black"]
cars=["BMW","AUDI","Toyota"]
for x in color:
  for y in cars:
    print(x,y)

White BMW
White AUDI
White Toyota
Red BMW
Red AUDI
Red Toyota
Black BMW
Black AUDI
Black Toyota

# Pass Statement (Null statement)

In [ ]:
a=55
b=29
if a>b:
  pass
print("Code ended")

Code ended

In [ ]:
nums=[1,2,3,4,5]
for val in nums:
  pass

In [ ]:
a=20
if a<20:
  pass
print("Other lines of the codes")

Other lines of the codes

In [ ]:
nums=[1,2,3]
for x in nums:
   pass
print("nothing")

nothing

# Indexing of strings

In [ ]:
s="I am Baymax"
print(s[0])
print(s[-1])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[10])
#strings are immutable
#strin

I
x

a
m

x

In [ ]:
#iterating over string:
index=0
s="I am Vengeance"
while index<len(s):
  print(s[index])
  index+=1

I

a
m

V
e
n
g
e
a
n
c
e

In [ ]:
s="I am Vengeance"
for char in s:
  print(char)

I

a
m

V
e
n
g
e
a
n
c
e

# #String Concatenation

In [ ]:
s="Hello there"
s=s+".""I am Vengeance"
print(s)

Hello there.I am Vengeance

In [ ]:
s="I am Rapoo\n"
print(s*4)

I am Rapoo
I am Rapoo
I am Rapoo
I am Rapoo

In [ ]:
print("Hi\n"*4,end="")

Hi
Hi
Hi
Hi

In [ ]:
for x in range(0,4):
  print("Hi")

Hi
Hi
Hi
Hi

In [ ]:
s="I am Armeen"
print(s)
del s
print(s)
#not possible

In [ ]:
s="I am Batman"
del s[0]
#hobenah since immutable

TypeError: ignored

# String Slicing

In [ ]:
s="I am Baymax"
print(s[2:4])
print(s[:4])
print(s[5:])
print(s[:])
print(s[2:9:2])
print(s[9:5:-1])

am
I am
Baymax
I am Baymax
a am
amya

# #EScape Sequence

In [ ]:
s="I loved the movie 'Spirited Away'"
print(s)
s="I loved the movie \"Spirited Away\""
print(s)

I loved the movie 'Spirited Away'
I loved the movie "Spirited Away"

In [ ]:
#ASCII TABLE

In [ ]:
s='Hello Cute'
tmp=s.lower()
print(s)
print(tmp)
s='    Hello World     '.strip()
print(s)
s='    Hello World     '.rstrip()
print(s)
s='    Hello World     '.lstrip()
print(s)
s='Hello World '.count('o')
print(s)
s='Hello World '.find('l')
print(s)
s='Hello World '.replace('l','x')
print(s)
s='Hello World '.startswith('He')
print(s)
s='Hello World '.startswith('HE')
print(s)

Hello Cute
hello cute
Hello World
    Hello World
Hello World
2
2
Hexxo Worxd
True
False

# Formatting String

In [ ]:
s="Hello {}, I am {}.".format("Ifti","Nashid")
print(s)

Hello Ifti, I am Nashid.

In [ ]:
s="Hello {0}, I am {1}.".format("Jamil","Jisoo")
print(s)

Hello Jamil, I am Jisoo.

In [ ]:
s="Hello {speaker}, I am {thirdperson}.".format(speaker="Tonoy", thirdperson="Rafee")
print(s)

Hello Oggy, I am Rafee.

# Number Formatting

In [ ]:
s="Hello {0},can you lend me {1:d}$?".format("Bob",100)
print(s)
s="I am {0}, {1}. I have only {2:5.2f}$.".format("sorry","Alice", 50.5876)
print(s)
s="Bin: {0:b}, Oct: {0:o}, Hex: {0:x}" .format(10)
print(s)

Hello Bob,can you lend me 100$?
I am sorry, Alice. I have only 50.59$.
Bin: 1010, Oct: 12, Hex: a

In [ ]:
#Alignment
# < left
# < right
# ^ center
print("{:<d}"

In [ ]:
print("{:<d}".format(20))
print("{:<5d}".format(20))
print("{:<05d}".format(20))
print("{:^17.3f}".format(20.1235))
print("{:^017.3f}".format(20.1235))
print("{:<9d}".format(30))
print("{:<09d}".format(30))
print("{0:<d}|{1:^14.3f}|{2:<9d}".format(20,20.1235,30))

20
20000
0000020.123000000
30
300000000
20|    20.123    |30

# list details

In [ ]:
my_list=[1,"Abc",4.5]
print(my_list)
my_list=["Hello",[7,8,9]] #nested list
print(my_list)
my_list=[]
print(my_list)
my_list=list() #list constructor
my_list=list([1,2,3]) #list constructor
print(my_list)
a=[1,2,3]
print(len(a)) #length of the list

[1, 'Abc', 4.5]
['Hello', [7, 8, 9]]
[]
3

In [ ]:
#indexing
a=[1,2,3,4,5]
print(a[2])
print(a[4])
print(a[-2])

3
5
4

In [ ]:
player_list=['Ronaldo','Messi','neymar']
print(player_list)
player_list[2]="son"
print(player_list)

['Ronaldo', 'Messi', 'neymar']
['Ronaldo', 'Messi', 'son']

In [ ]:
a=[1,2,3,4,5,6,7]
print(a)
a[3]=22
print(a)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 22, 5, 6, 7]

In [ ]:
#add items
cars=['BMW','AUDI','PORHSE']
cars.append("Ford")
print(cars)

['BMW', 'AUDI', 'PORHSE', 'Ford']

In [ ]:
#specific index e add
cars=['BMW','AUDI','PORHSE']
cars.insert(1,"Ford")
print(cars)

['BMW', 'Ford', 'AUDI', 'PORHSE']

In [ ]:
#remove items from list
# list is mutable
cars=['BMW','AUDI','PORHSE']
print(cars)
cars.pop()
print(cars)

['BMW', 'AUDI']

In [ ]:
cars=['BMW','AUDI','PORHSE']
print(cars)
cars.pop(1)
print(cars)

['BMW', 'AUDI', 'PORHSE']
['BMW', 'PORHSE']

In [ ]:
cars=['BMW','AUDI','PORHSE']
print(cars)
cars.remove("BMW")
print(cars)

['BMW', 'AUDI', 'PORHSE']
['AUDI', 'PORHSE']

In [ ]:
#del keyword diye remove
cars=['BMW','AUDI','PORHSE']
print(cars)
del cars[0] #value dit ehobe
print(cars)

['BMW', 'AUDI', 'PORHSE']
['AUDI', 'PORHSE']

In [ ]:
#list delete
cars=['BMW','AUDI','PORHSE']
print(cars)
cars.clear()
print(cars)

['BMW', 'AUDI', 'PORHSE']
[]

In [ ]:
#copy list
cars=['BMW','AUDI','PORHSE']
print(cars)
cars2=cars.copy()
print(cars2)

['BMW', 'AUDI', 'PORHSE']
['BMW', 'AUDI', 'PORHSE']

In [ ]:
#join two list
list=[1,2,3]
list2=[4,5,6]
list3=list+list2
print(list3)

In [ ]:
# extend method
list=[1,2,3]
list2=[4,5,6]
list.extend(list2)
print(list)

[1, 2, 3, 4, 5, 6]

In [ ]:
#list slicing (start:end:step)
colors=["Black","Red","Blue","yellow","Purple","Indigo","Green","Orange"]
clr=colors[1:4]
print(clr)
print(colors[:4])
print(colors[3:])
print(colors[-4:-1])
print(colors[0:6:2])

['Red', 'Blue', 'yellow']
['Black', 'Red', 'Blue', 'yellow']
['yellow', 'Purple', 'Indigo', 'Green', 'Orange']
['Purple', 'Indigo', 'Green']
['Black', 'Blue', 'Purple']

In [ ]:
#list sorting
list=[5,4,3,2,1]
list.sort()
print(list)

#list reverse
list=[5,4,3,2,1]
list.sort()
print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
#list index
list=[2,4,5,2,1]
list.index(4)

1

In [ ]:
list=[2,4,5,2,1]
list.count(2)

2

# List coding part

In [ ]:
my_list=[]
colors=["white","black","orange","purple","Red","blue"]
nums=[1,2,3,3,4,5,6]
mixed=["Hello",1,2,3,4.5,5.5]
colors[2]="Brown"
print(colors)
colors2=colors[1:4]
print(colors2)

nums.append(7)
nums.insert(2,2.5)
print(nums)

mixed.pop(0)
mixed.pop()
print(mixed)

# colors.remove("orange")
print(colors)
del colors[1]
print(colors)

# del colors #puratai delete
nums.clear()
print(nums)

num2=nums.copy()
print(num2)

list2=[4,5,6,9,8,2]
my_list.extend(list2)

['white', 'black', 'Brown', 'purple', 'Red', 'blue']
['black', 'Brown', 'purple']
[1, 2, 2.5, 3, 3, 4, 5, 6, 7]
[1, 2, 3, 4.5]
['white', 'black', 'Brown', 'purple', 'Red', 'blue']
['white', 'Brown', 'purple', 'Red', 'blue']
[]
[]

# #Loop problems

In [ ]:
print("Number Pattern ")

# Decide the row count. (above pattern contains 5 rows)
row = 5
# start: 1
# stop: row+1 (range never include stop number in result)
# step: 1
# run loop 5 times
for i in range(1, row + 1, 1):
    # Run inner loop i+1 times
    for j in range(1, i + 1):
        print(j, end=' ')
    # empty line after each row
    print("")

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#nested loop
print("Number Pattern: ")
column=5
for i in range(1,column+1,1):
   for j in range(1,i+1):
      print(j,end=" ")
   print(" ")

Number Pattern:
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Calculate the sum of all numbers from 1 to a given number

In [ ]:
n=int(input("Enter  a number: "))
sum=0
for i in range(0,n+1,1):
   sum+=i
print(sum)

Enter  a number: 10
55

In [ ]:
# s: store sum of all numbers
s = 0
n = int(input("Enter number "))
# run loop n times
# stop: n+1 (because range never include stop number in result)
for i in range(1, n + 1, 1):
    # add current number to sum variable
    s += i
print("\n")
print("Sum is: ", s)

Enter number 10


Sum is:  55

average and sum

In [ ]:
n = int(input("Enter number: "))
sum = 0
# loop from 1 to n
for num in range(1, n + 1, 1):
    sum+=num
print("Sum of first ", n, "numbers is: ", sum)
average = sum / n
print("Average of ", n, "numbers is: ", average)

Enter number10
Sum of first  10 numbers is:  55
Average of  10 numbers is:  5.5

In [ ]:
a=['nashid','ramisa','ifti','beg','oriut','samia','ramisa','rafee','armeen','babu','zan','tenz','mushi','yeashfi']
a.sort()
print(a)

['armeen', 'babu', 'beg', 'ifti', 'mushi', 'nashid', 'oriut', 'rafee', 'ramisa', 'ramisa', 'samia', 'tenz', 'yeashfi', 'zan']

In [ ]:
time=int(input("enter the amount of seconds: "))
hour=time//3600
time%=3600
minutes=time//60
time%=60
seconds=time
print(f"Hour: {hour} Minutes: {minutes} Seconds: {seconds}")

enter the amount of seconds: 10000
Hour: 2 Minutes: 46 Seconds: 40

In [ ]:
days=int(input())
seconds=24*days*3600
print(seconds)

1
86400

In [ ]:
week_hour=int(input())
if 0<=week_hour<=168:
  if week_hour<=40:
    salary=200*week_hour
  else:
    salary=8000+(week_hour-40)*300
  print(salary)
else:
     print("Impossible to work more than 168 hours weekly")

30
6000

In [ ]:
s=int(input())
if s <100:
  l=3000-125*s**2
else:
   l=12000/(4+s**2/14900)
print(l)

120
2416.2162162162163

In [ ]:
farenheit=int(input("Enter the degrees: "))
celsius=int((farenheit-32)*0.56)
print(celsius,"degrees C")
if celsius<20:
  print("Winter")
elif 20<=celsius<=25:
  print("Autumn")
elif 25<celsius<30:
  print("Spring")
elif celsius>=30:
  print("Summer")      
else:
  print("Invalid Input")

Enter the degrees: 82
28 degrees C
Spring